<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zstandard compressed file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.zstandard.zstd</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zst</string>
				<string>zstd</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Zstandard tar archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.zstandard.tar-zstd</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar.zst</string>
				<string>tar.zstd</string>
				<string>tzst</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.zstandard.zstd</string>
			<key>UTTypeDescription</key>
			<string>Zstandard compressed file</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.archive</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zst</string>
					<string>zstd</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/zstd</string>
					<string>application/x-zstd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.zstandard.tar-zstd</string>
			<key>UTTypeDescription</key>
			<string>Zstandard tar archive</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>org.zstandard.zstd</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>tar.zst</string>
					<string>tar.zstd</string>
					<string>tzst</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-zstd-compressed-tar</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleName</key>
	<string>Unzstd</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
